.imagen{
    padding: 10px;
    margin: 10px;
    position: relative;
    top: 30px;
    display: inline-flex;
    width: 35%;
    float: left;
 }
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: inline-start;
    margin-right: 15px;
    position: relative;
    top: 50px;
}
.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: inline-end;
    margin-right: 15px;
    position: relative;
    top: 50px
}